<h3>{{titulo}}</h3>
<hr>
<div *ngIf="!productos">
  Cargando...
</div>
<div *ngIf="productos">
  <div class="row">
    <div class="col-lg-3" *ngFor="let producto of productos">
      <div class="thumbnail">
        <div *ngIf="producto.image" class="imagen_container">
          <img src="http://localhost/curso_angular_backend/uploads/{{producto.image}}" alt="" class="producto_image">
        </div>
        <div *ngIf="!producto.image">
          <div class="imagen_relleno">

          </div>
        </div>
        <div class="caption">
          <strong>{{producto.nombre}}</strong>
          <p>{{producto.precio}} $</p>
          <div class="botones" *ngIf="confirmado!=producto.id">
            <a [routerLink]="['/producto',producto.id]" class="btn btn-md btn-primary">Ver</a>
            <a [routerLink]="['/editar-producto',producto.id]" class="btn btn-md btn-warning">Editar</a>
            <a class="btn btn-md btn-danger" (click)="borrarConfirm(producto.id)">Borrar</a>

          </div>
          <div class="seguro" *ngIf="confirmado==producto.id">
            <a class="btn btn-md btn-danger" (click)="onDeleteProducto(producto.id)">Quiero eliminarlo</a>
              <a class="btn btn-md btn-warning" (click)="cancelarConfirm()">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
