<div *ngIf="!producto">
  <p>Cargando producto...</p>
</div>
<div class="row" *ngIf="producto">
  <div class="col-lg-3" *ngIf="producto.image">
    <img src="http://localhost/curso_angular_backend/uploads/{{producto.image}}" alt="" class="producto_image">
  </div>
  <div class="col-lg-9">
  <h3>{{producto.nombre}}</h3>
  <p><strong>$ {{producto.precio}}</strong></p>
  <p>{{producto.descripcion}}</p>
</div>
</div>
